/*
Colours:
	Green: #4CAF50
	Purple: #9C27B0
    Pink: #E91E63
    Blue: #2196F3
    Yellow: #FFEB3B
    Brown: #795548
    Red #F44336
*/

body{
    background-image:url(assets/tile.png);
}
html,body{
	margin: 0;
	font-size: 2vh;
	font-family: 'Montserrat', sans-serif;
}
.frameOuter{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 100vh;
	width: 100vw;
}
.frame{
	max-height: 97vh;
	max-width: 130vh;
	height: 67.5vw;
	width: 90vw;
	background-color: gray;
}
.frameInner{
	background-image: url(assets/bg.png);
	background-size: cover;
	height: 100%;
	overflow:hidden; 
	position: relative;
}
.dinoInFrame{
	position: absolute;
	width: 10vh;
	height: auto;
	transition: 0.5s;
}
.sideUi{
	margin: 10px;
	border: 5px;
	background-color: white;
	width: auto;
	padding: 10px;
	font-size: 1.5rem;
	font-weight: 800;
	max-width: 500px;
	border-radius: 30px;
	border: 10px solid white;
}
.winner{
	left: calc( 50% - 350px ) !important;
	top: calc( 50% - 230px ) !important;
	width: 700px;
	z-index: 45;
}
.firework{
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(assets/fireworrk.gif);
	height: 100%;
	position: relative;
	z-index: 44;
}
#findMe{
	margin: 30px 0px;
	width: 100%;
}
.restartBTN{
	margin: 30px 0px 10px;
	width: 100%;
	height: 80px;
	font-size: 2rem;
	font-weight: 800;
	background-color: #cccdc8;
	border-radius: 5px;
	border: 5px solid #cccdc8;
	cursor: pointer;
}
.restartBTN:hover{
	background-color: #b5b5b5;
	border-color: #b5b5b5;
}
.titleButton{
	height: 50vh;
	width: 100vw;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(assets/title1.png);
	cursor: pointer;
}
.titleButton:hover{
	background-image: url(assets/title2.png);
}
.waldinosaur{
	margin-left: 50vw;
	height: 50vh;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	background-image: url(assets/waldinosaur.png);
}
.marginAuto{
	margin: auto;
}