/*
Colours:
    Red #F44336
    Pink: #E91E63
    Purple: #9C27B0
    Indigo: #3F51B5
    Blue: #2196F3
    Green: #4CAF50
    Yellow: #FFEB3B
    Brown: #795548
    Blue Grey: #607D8B
*/

body{
    background-color: black;
}
html,body{
	margin: 0;
}
.frameOuter{
	display: flex;
	align-items: center;
	height: 100vh;
	width: 100vw;
}
.frame{
	max-height: 97vh;
	max-width: 130vh;
	height: 67.5vw;
	width: 90vw;
	background-color: gray;
}
.frameInner{
	background-image: url(assets/bg.png);
	background-size: cover;
	height: 100%;
}
.marginAuto{
	margin: auto;
}